html {
  max-width: 1440px; 
  margin: 0 auto;
  background-image: url(../img/beckground-image.jpg);
  background-attachment:fixed;
  
}
body {
    max-width: 900px;
    margin: 0 auto;
    background-attachment:fixed;
    text-align: center;
}
header {
    width: 900px;
    padding: 10px 20px;
    background-color: #c9cfd8;
    opacity: 0.5;
}
#home {
    font-family: 'Indie Flower', cursive;
    padding: 10px 20px;
    
}
a {
font-weight: bold;
text-decoration:none;
}
#portfolio {
    width: 900px; 
}
#portfolio-foto {
   width: 100%; 
}
#university-logo {
    width: 100px; 
}